<div class="container">
  <div class="page-header">
    <h1>Listing Employees</h1>
  </div>
</div>

<div class="container">
  <%= link_to 'Create New Employee', new_company_employee_path(@company) %>
  <br>
  </br>
  <%= link_to 'Home', root_path %>
  <br>
  <br></br>
</div>

<div class="container">

  <table class="table table-striped">
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th class="text-center">Action</th>
    </tr>

    <tbody>
      <% @employees.each do |employee|%>
        <tr>
          <td><%= employee.forename %></td>
          <td><%= employee.surname %></td>
          <td class="text-center">
          <%= link_to 'Show Company', [@company], class: 'label
          label-info'%>
          <%= link_to 'Destroy Employee', [@company, employee], method: :delete, data:
          { confirm: 'Are you sure?' }, class: 'label label-danger' %>
          <%= link_to 'Edit Employee', edit_company_employee_path(@company, employee), class: 'label
          label-success' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
