<h1>New Employee</h1>

<%= form_with scope: :employee, url: employees_path, local: true do |form| %>
<p>
  <%= form.label :forename %><br>
  <%= form.text_field :forename %>

<p>
  <%= form.label :surname %><br>
  <%= form.text_field :surname %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
