<div class="container">
  <div class="page-header">
<h1>New Employee</h1>
</div>
</div>

<div class="container">
<%= form_with(model: [@company, @employee], local: true) do |form| %>


<% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>

<p>
  <div class="container">
    <div class="form-group">
  <%= form.label :forename %><br>
  <%= form.text_field :forename %>

<p>
  <%= form.label :surname %><br>
  <%= form.text_field :surname %>
</p>

<p>
  <button type="submit" class="btn btn-primary">Save</button>
</p>
<% end %>

<%= link_to 'Back to employees list', company_employees_path(@company) %>
<br>
</br>
<%= link_to 'Home', root_path %>

</div>
</div>
